{% extends 'base.html' %}
{% block title %}Contact{% endblock title %}
{% block body %}
<div class="container-fluid px-0">
    <img src="https://source.unsplash.com/1600x400/?contact,call" class="d-block w-100" alt="...">
</div>
<div class="container">
    <h1 class="text-center my-4">Contact Us</h1>
    <form class="row g-3" method="post" action="contact">
        {% csrf_token %}
        <div class="col-md-6">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>

        <div class="col-12">
            <label for="phone" class="form-label">Phone</label>
            <input type="number" class="form-control" id="phone" name="phone" placeholder="987 654 321">
        </div>
        <div class="col-12">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" name="message" rows="3"></textarea>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock body %}